# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE（项目配置不上传）
.idea/
*.iml
.vscode/

# 学习资源文件夹（图片太多，不建议上传）
05_学习资源/

# Excel
*.xlsx
*.xls

# OS 系统文件
.DS_Store
Thumbs.db
desktop.ini

# 临时文件
*.tmp
*.temp
*.log
